*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald,sans-serif;
  background-color: #191d28;
}

.hero-container{
  width: 90%;
  margin: auto;
}
.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.left{
  display: flex;
  flex-direction: column;
}
.left h2{
 color: #00c2cb;
  font-size: 3rem
}
.left span {
  color: #00c2cb;
}
.left h5{
  color: grey;
}
.mid{
  display: flex;
  align-items: center;
}
.mid button{
  background-color: #2e3241;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  outline: none;
}
.last{
  align-items: center;
  display: flex;
  justify-content: center;
}
.last button{
  background-color: #00c2cb;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  outline: none;
}
.last span{
  color: #000;
  margin-right: 20px;
  color: #00c2cb;
 border: 4px solid #00c2cb;
 border-radius: 50%;
 padding: 7px 10px;
}
.telegram-icon{
  background-color: #00c2cb;
  font-size: 20px;
  border-radius: 50%;
}
.row h1{
 color: #00c2cb;
}
.row p{
  color: grey;
}
.row h3{
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
}
.bpttht{
  color: grey;
}
.table th{
  color: grey;
  font-weight: 600;
  font-size: 1.5rem;
}
.table td{
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}
.table-row{
  background-color: #2e3241;
  margin-bottom: 30px;
}
.difference{
  color: #00c2cb;
}
.footerLine{
  color: grey;
}
.main-footer{
  padding-bottom: 20px;
}
.main-footer span{
  color: #00c2cb;
  font-weight: 600;
}
.main-footer p{
 font-weight: 600;
}
.support{
  position: absolute;
 right: 5%;
}
.support a{
  text-decoration: none;
  color: grey;
}
